
.purple {
    background-color: #22222e;
   padding-top: 30px;
   box-shadow: 31px 22px 152px 39px rgba(0,0,0,0.75);
   

    ul {
        margin: 0;
        padding: 0;

        li { display: inline; }
    }

    a { text-decoration: none; }
}