//Load fonts
@import url('https://fonts.googleapis.com/css?family=Arvo|Vollkorn&display=swap');
//Colors
$main-color: white;
$body-bg:#101017;
$heading-color:#ff6160;
$dark-salmon:#d7392e;
$red:rgba(236, 45, 52, 0.8);
$light-salmon:rgba(255, 137, 132, 0.8);



